@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  font-size: 14px;
  line-height: 1.5;
  --txt-headings: #011c34;
  --bg-white: #f7fdfc;
  --grey: #737373;
  --green: #2ec4b6;
  --black: #000b0a;
  --border: #f0f0f0;
  --white: #fff;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: var(--bg-white);
  padding: 60px;
}

.header img {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  position: relative;
  right: 14px;
}

.header h1 {
  color: var(--black);
}

.text-one {
  width: 100%;
  color: var(--grey);
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.text-two {
  display: none;
}

.form-box {
  background: var(--white);
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
}

form {
  padding: 20px;
  color: var(--txt-headings);
}

.form-elements label {
  display: block;
  color: var(--Text-Headings);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--border);
  height: 48px;
  flex-shrink: 0;
  margin: 10px auto;
  letter-spacing: 0.2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input-field-two {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--border);
  height: 48px;
  flex-shrink: 0;
  margin: 10px auto;
  letter-spacing: 0.2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus,
select:focus {
  border-radius: 2px;
  border: 2px solid var(--green);
}

#gender,
#dob,
#activitylevel,
::placeholder {
  color: var(--grey);
  cursor: pointer;
}

#gender:focus,
#dob:focus,
#activitylevel:focus {
  color: var(--cl-black);
}

select {
  background: var(--white);
}

.button {
  min-width: 100%;
  height: 48px;
  background: var(--green);
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  border: none;
  cursor: pointer;
}

.form-password {
  position: relative;
}

.form-password i {
  position: absolute;
  top: 60%;
  right: 8px;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;
}

.tandc {
  max-width: 100%;
  margin: auto;
  font-size: 14px;
  text-align: center;
}

.tandc a {
  color: var(--green);
  cursor: pointer;
}

/*Media query and specific styling for desktop version*/

@media screen and (min-width: 1440px) {
  body {
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    padding-left: 3rem;
    padding-bottom: 6rem;
  }

  .header img {
    width: 77.333px;
    height: 80px;
  }

  .header h1 {
    margin-top: 0;
    font-size: 40px;
  }

  .text-two {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    width: 460px;
  }

  .text-one {
    display: none;
  }

  .form-box {
    padding: 20px;
  }

  .form-grp-1,
  .form-grp-2,
  .form-grp-3 {
    display: flex;
    gap: 20px;
  }

  .input-field {
    width: 238px;
  }

  #activitylevel,
  #password {
    padding: 2px;
  }
}
